<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="1">
    <parameter name="firstvalue"  value="6"/>
    <parameter name="secondvalue"  value="2"/>
    <parameter name="result"  value="3"/>
    <test name="Calculator">
        <groups>
            <run>
                <exclude name="exclude_group"  />
                <include name="include_group"  />
            </run>
        </groups>
        <classes>
            <class name="tests.unittests.arithmetictest.DivTest"/>
            <class name="tests.unittests.arithmetictest.DivZeroTest"/>
            <class name="tests.unittests.arithmetictest.MultTest"/>
            <class name="tests.unittests.arithmetictest.SqrtTest"/>
            <class name="tests.unittests.arithmetictest.SubTest"/>
            <class name="tests.unittests.arithmetictest.SumTest"/>
            <class name="tests.unittests.trigonomictests.CosTest"/>
            <class name="tests.unittests.trigonomictests.CtgTest"/>
            <class name="tests.unittests.trigonomictests.SinTest"/>
            <class name="tests.unittests.trigonomictests.TgTest"/>
        </classes>
    </test>
</suite>